<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
  
  <style type="text/css">
    ul {
      display: block;
      overflow: hidden;
      margin-bottom: 0;
      position: relative;
      height: 20px;
    }
    ul > li {
      width: 194px;
      float: left;
      margin: 0;
      font-size: 134%;
      font-weight: bold;
      text-align: center;
      background: none;
      cursor: pointer;
    }
</style>
<ul>
  <li>
     <p><span>商品情報</span></p>
    <div>
      <ul>
        <li>A1</li>
        <li>A2</li>
        <li>A3</li>
        <li>A4</li>
      </ul>
    </div>
  </li>
  <li>B</li>
  <li>C</li>
  <li>D</li>
</ul>
<p>asfasfsasfasf</p>
</body>
</html>